.container-show {
    margin-top: -75px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 1200px;
}

.flex {
  font-size: 25px;
  display: flex;
}
.fas {
  line-height: 1.5;
}
