<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">Simple AirBNB</a>
  <%= form_tag(search_path, :method => "get",
    class: 'navbar-form navbar-left') do %>
  <div class="input-group">
    <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>
    <div class="input-group-btn">
      <%= button_tag "", :class => 'btn btn-outline-success',:name => nil do %>
      <i class="fas fa-search"></i>
      <% end %>
    </div>
  </div>
<% end %>
    <a class="btn btn-outline-primary my-2 my-sm-0" href="/flats/new">Add Flat</a>
</nav>
